.page-view__section-grid {
    display: grid;
    gap: var(--common-gap);
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.page-view__section-grid-item {
    border: 1px solid var(--color-border);
    padding: var(--size-base);
    background-color: var(--color-bg-top);
    border-radius: var(--radius-card);
    display: flex;
    flex-direction: column;
    gap: var(--size-base);
    height: 100%;
}

.page-view__section-grid-item--plain {
    border: none;
    padding: 0;
    background-color: transparent;
}

.page-view__section-grid-item > *:first-child{
    margin-top: 0;
}

.page-view__section-grid-item > *:last-child {
    margin-bottom: 0;
}

.page-view__section-grid-item .page-view__paragraph {
    margin: 0;
}

.page-view__section-grid-item .page-view__list {
    margin: 0;
}
