.page-view__section--hero {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
}

.page-view__section--hero .page-view__section-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.page-view__section--hero .page-view__section-image {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.page-view__section-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    user-select: none;
    pointer-events: none;
    filter: brightness(var(--hero-image-brightness));
}

.page-view__section--hero .page-view__section-title {
    position: absolute;
    color: var(--color-primary-opposite);
    font-size: clamp(1.25rem, 5vw, 2.25rem);
    z-index: 1;
    margin: 0;
    text-align: center;
    font-family: var(--font-family-hero);
    padding: var(--size-base) var(--size-md);
    background-color: var(--color-primary);
}