.page-view__content,
.page-view__sections {
    display: flex;
    flex-direction: column;
}

.page-view__section-header {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
    margin-bottom: var(--size-mid);
}

.page-view__section:nth-child(2n) {
    background-color: var(--color-bg-top);
}

.page-view__header-container {
    display: grid;
    gap: var(--size-xs);
    width: 100%;
}

.page-view__section-container > :nth-child(2) {
    margin-top: 0 !important;
}

.page-view__section-container > :last-child {
    margin-bottom: 0 !important;
}
