.page-view__content,
.page-view__sections {
    display: flex;
    flex-direction: column;
}

.page-view__section-header {
    display: flex;
    flex-direction: column;
    gap: var(--size-xs);
    margin-bottom: var(--size-mid);
}

.page-view__section:nth-child(2n) {
    background-color: var(--color-bg-top);
}

.page-view__header-container {
    display: grid;
    gap: var(--size-xs);
    width: 100%;
}

.post__post-list,
.page-view__post-list {
    display: grid;
    gap: var(--common-gap);
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.page-view__section-container > :nth-child(2) {
    margin-top: 0 !important;
}

.page-view__section-container > :last-child {
    margin-bottom: 0 !important;
}

.post__post-list-empty,
.page-view__post-list-empty {
    color: var(--color-secondary);
    font-size: var(--font-size-base);
}

.posts-list__actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--size-sm);
    margin-top: var(--size-lg);
}
