.layout {
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.layout--admin {
    grid-template-rows: 1fr;
    grid-template-areas:
        "main";
}

.layout--admin .main {
    padding: 0;
    min-height: 100vh;
}
