.layout {
    min-height: 100vh;

    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        "header"
        "main"
        "footer";
}

.layout--admin {
    grid-template-rows: auto 1fr;
    grid-template-areas:
        "header"
        "main";
}

.layout--admin .admin-layout__header {
    grid-area: header;
}

.layout--admin .main {
    padding: 0;
    min-height: 100vh;
}

.layout--admin .admin-layout__main {
    grid-area: main;
}

@media (min-width: 900px) {
    .layout--admin {
        height: 100vh;
        overflow: hidden;
    }

    .layout--admin .main {
        min-height: 0;
        overflow: hidden;
    }

    .layout--admin .admin-layout__main {
        min-height: 0;
    }
}