.post__content,
.page-view__body {
    display: grid;
    gap: var(--size-mid);
    background-color: var(--color-bg-top);
}

.post__content > *,
.page-view__body > * {
    max-width: 100%;
}

.post__content figcaption,
.page-view__body figcaption {
    display: none;
}