.page-view__body {
    display: grid;
    gap: var(--size-mid);
    font-size: var(--font-size-lg);
    padding: var(--size-mid);
    border: 1px solid var(--color-border);
    background-color: var(--color-bg-top);
}

.page-view__body > * {
    max-width: 100%;
}

.page-view__body figcaption {
    display: none;
}
