.page-view__file-group {
    margin: var(--size-mid) 0;
    border-radius: var(--radius-md);
    background-color: var(--color-surface);
}

.page-view__file-group-title {
    margin: 0 0 var(--size-sm);
    font-size: var(--font-size-xl);
}

.page-view__file-group-description {
    margin: 0 0 var(--size-sm);
    color: var(--color-secondary);
    line-height: 1.5;
}

.page-view__file-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.page-view__file-list-item {
    display: flex;
    align-items: center;
    gap: var(--size-xs);
    padding: var(--size-sm) 0;
}

.page-view__file-link {
    color: var(--color-primary);
    font-size: var(--font-size-base);
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: var(--size-sm);
}

.page-view__file-link:hover {
    text-decoration: underline;
}

.page-view__file-link-icon {
    width: calc(var(--size-base) + var(--size-xs));
    height: calc(var(--size-base) + var(--size-xs));
    fill: var(--color-primary);
}
