.page-view__body .page-view__image {
    margin: var(--size-sm) 0;
}

.page-view__section-image {
    margin: var(--size-sm) 0;
}

.page-view__body img,
.page-view__body video {
    display: block;
    max-width: 100%;
}
