.page-view__list {
    margin: var(--size-mid) 0;
    padding-left: 1.75rem;
    font-size: var(--font-size-base);
}

.page-view__list:not(.page-view__list--ordered) {
    list-style: disc;
}

.page-view__list--ordered {
    list-style: decimal;
}

.page-view__list-item {
    color: var(--color-text);
    margin: 0.5rem 0;
    line-height: 1.6;
}

.page-view__body li {
    position: relative;
}
