* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    line-height: 1.6;
    list-style: none;
    font-family: "Outfit", sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-snap-stop: always;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}