{{ define "components/post-image-modal" }}
    <div class="post-image-modal" data-post-image-modal hidden>
        <button
            type="button"
            class="post-image-modal__close"
            data-post-image-close
            aria-label="Close image preview"
        ></button>
        <button
            type="button"
            class="post-image-modal__nav post-image-modal__nav--prev"
            data-post-image-prev
            aria-label="Previous image"
        ></button>
        <button
            type="button"
            class="post-image-modal__nav post-image-modal__nav--next"
            data-post-image-next
            aria-label="Next image"
        ></button>
        <img
            src=""
            alt=""
            class="post-image-modal__image"
            data-post-image-modal-image
        />
    </div>
{{ end }}
