{{ define "components/course-modal" }}
    {{ $checkout := .CourseCheckout }}
    <div
        class="course-modal"
        data-course-modal
        data-course-checkout-enabled="{{ if and $checkout $checkout.Enabled }}true{{ else }}false{{ end }}"
        data-course-checkout-endpoint="{{ if and $checkout $checkout.Endpoint }}{{ $checkout.Endpoint }}{{ end }}"
        data-course-checkout-publishable-key="{{ if and $checkout $checkout.PublishableKey }}{{ $checkout.PublishableKey }}{{ end }}"
        hidden
        aria-hidden="true"
    >
        <div
            class="course-modal__dialog"
            role="dialog"
            aria-modal="true"
            aria-labelledby="course-modal-title"
            aria-describedby="course-modal-description"
            tabindex="-1"
        >
            <div class="course-modal__content">
                <figure class="course-modal__media" data-course-modal-media hidden>
                    <img
                        src=""
                        alt=""
                        class="course-modal__image"
                        data-course-modal-image
                    />
                </figure>
                <div class="course-modal__details">
                    <h3 class="course-modal__title" id="course-modal-title" data-course-modal-title></h3>
                    <div class="course-modal__price" data-course-modal-price hidden>
                        <span class="course-modal__price-current" data-course-modal-price-current></span>
                        <span class="course-modal__price-original" data-course-modal-price-original></span>
                    </div>
                    <ul class="course-modal__meta" data-course-modal-meta hidden></ul>
                    <div
                        class="course-modal__description"
                        id="course-modal-description"
                        data-course-modal-description
                        hidden
                    ></div>
                    <div class="course-modal__topics-wrapper" data-course-modal-topics-wrapper hidden>
                        <h4 class="course-modal__topics-title">Course topics</h4>
                        <ul class="course-modal__topics-list" data-course-modal-topics></ul>
                    </div>
                    <p class="course-modal__error" data-course-modal-error hidden role="alert"></p>
                    <div class="course-modal__actions">
                        <button type="button" class="course-modal__cancel" data-course-modal-close>
                            Cancel
                        </button>
                        <button
                            type="button"
                            class="course-modal__purchase"
                            data-course-modal-purchase
                            data-course-modal-loading-label="Processing..."
                        >
                            Buy course
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{ end }}
