{{ define "components/profile-courses" }}
    {{- $hasCards := gt (len .Cards) 0 -}}
    <div class="profile-card profile-card--courses">
        <div
            class="profile-courses"
            id="{{ default "profile-courses" .ContainerID }}"
            data-role="profile-courses"
            {{- if gt .Limit 0 }} data-course-limit="{{ .Limit }}"{{ end -}}
        >
            <p class="{{ .EmptyClass }}" {{ if $hasCards }}hidden{{ end }}>
                {{ .EmptyMessage }}
            </p>
            <ul class="{{ .ListClass }}" {{ if not $hasCards }}hidden{{ end }}>
                {{- range .Cards }}
                    <li class="profile-courses__item">
                        {{- template "components/course-card" . -}}
                    </li>
                {{- end }}
            </ul>
        </div>
    </div>
{{ end }}
