{{ define "components/courses-list" }}
    {{- $hasList := and .ListClass .Cards }}
    {{- if $hasList }}
    <div class="{{ .ListClass }}">
        {{- range .Cards }}
            {{- template "components/course-card" . }}
        {{- end }}
    </div>
    {{- end }}
    {{- if and $hasList (or .Pagination .SeeAll) }}
    <div class="courses-list__actions">
        {{- if .Pagination }}
            {{ template "components/pagination" .Pagination }}
        {{- end }}
        {{- if .SeeAll }}
        <a class="button button--secondary courses-list__see-all" href="{{ .SeeAll.URL }}">
            {{ default "All courses" .SeeAll.Label }}
        </a>
        {{- end }}
    </div>
    {{- end }}
{{ end }}
